/* some commented css right here1 */

h1 {
  color: red;
}

/* 
A larger multiple
line comment
or something
*/

h2 {
  margin: 0 auto;
  width: 5px; /* some commented css right here2 */
}
/* some commented css right here3 */
div#wrapper { /* some commented css right here4 */
  width: 800px; /*
    some commented css right here5
  */
  margin: 0 auto; /* some commented css right here6 */
} /* some un closed commented css right here7
